<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="keywords" content="<%= @seo_keywords %>" />
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
  <%= render "shared/nav", location: 'top' %>
  
  
  <%= login_helper %>
  
<%= yield %>


<% if session[:source] %>
      Thanks for visiting me from <%= session[:source] %>
<% end %>


</body>
</html>
